nav {
  background-color: var(--nav-background-color);
  display: flex;
  align-items: center; /* centraliza verticalmente */
  padding: 15px 30px;
}


nav img {
  height: 50px;
}

.links {
  display: flex;
  gap: 30px;
  margin-left: 50px;
}

.links a {
  color: var(--nav-text-color);
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
}

.links a:hover {
  text-decoration: underline;
}